*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    text-align: center;
}
.nav-item-list{
    display: inline;
    margin:10px ;
    
}
.nav-item-left{
    display: flex;
}
.nav-main-list{
    display: flex;
}
.nav-item-center{
    display: flex;
}
.nav-item-right{
    display: none;
}
a{
    text-decoration: none;
    color: black;
    transition: ease-in-out 1s;
}
a:hover{
    color:orangered;
}

@media (max-width:760px){
    .nav-item-center{
        display: none;
    }
    .nav-item-right{
            display: flex;
        }
    
}
@media (max-width:1100px){
    .nav-main-list{
        display: none;   
    }
    .nav-item-right{
        display: flex;
    }
    .nav-item-right:hover{
        color:orangered;
        transition: ease-in-out 1s;

}
    }

